---
import Layout from '../layouts/Layout.astro';
import {Header} from '../components/Header'
import {Showcase} from '../components/Showcase'
import {Somos} from '../components/Somos'
import {Valores} from '../components/Valores'
import {Services} from '../components/Services'
---

<Layout title="Welcome to Astro.">
	<main>
		<Header/>
		<Showcase/>
		<Somos/>
		<Valores/>
		<Services/>
	</main>
</Layout>

<style>
</style>
