---
import Layout from '../layouts/Layout.astro';
import {Header} from '../components/Header'
import {Showcase} from '../components/Showcase'
import {Somos} from '../components/Somos'
import {Valores} from '../components/Valores'
import {Services} from '../components/Services'
import {Satisfacction} from '../components/Satisfacction'
import {Clientes} from '../components/Clientes'
import { Footer } from '../components/Footer';
---

<Layout title="Welcome to Astro.">
	<main>
		<Header/>
		<Showcase/>
		<Somos/>
		<Valores/>
		<Services/>
		<Satisfacction/>
		<Clientes/>
		<Footer/>
	</main>
</Layout>

<style>
</style>
